<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>OneDream订餐</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css"/>

    <script>
        function login_clk() {
            var name = document.getElementById('name').value;
            var department = document.getElementById('department').value;

            if (!window.localStorage) {
                alert("浏览器支持localstorage");
                return false;
            } else {
                var storage = window.localStorage;
                storage.name = encodeURI(name);
                storage.department = encodeURI(department);
            }

        }
    </script>
</head>
<body>

<form action="/loginDo" method="post">
    <div class="content">
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <input id="userName" type="text" name="userName" placeholder="Your name"/>
                            </div>
                        </div>
                    </div>
                </li>


                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">部门</div>
                            <div class="item-input">
                                <input id="department" type="text" name="department" placeholder="Your department"/>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <button class="col-100 button button-big button-fill button-success">提交</button>
            </div>
        </div>
    </div>


</form>

</body>
</html>