<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>OneDream订餐</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css"/>
</head>
<body>

<div class="content">
    <div class="buttons-tab">
        <a href="#tab1" class="tab-link active button">订餐</a>
        <a href="#tab2" class="tab-link button">查看</a>
        <a href="#tab3" class="tab-link button">统计</a>
        <a href="#tab4" class="tab-link button">我的</a>
    </div>
    <div class="content-block">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <form action="/orderDo" method="post">
                    <div class="list-block">
                        <ul>
                            <!-- Text inputs -->
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">日期</div>

                                        <div class="item-input">
                                            <input id="orderDate" name="orderDate" type="date" th:value="${tomorrow}"
                                                   onchange="getDay()" dateFormat='yyyy-MM-dd' style="padding:0"/>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner" style="overflow:scroll">
                                        <div class="item-title label"></div>
                                        <div class="item-input">
                                            <div id="show"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">午餐</div>
                                        <div class="item-input">
                                            <label class="label-switch">
                                                <input name="lunch" type="checkbox" value="1" checked="true"/>
                                                <div class="checkbox"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Switch (Checkbox) -->
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">晚餐</div>
                                        <div class="item-input">
                                            <label class="label-switch">
                                                <input name="dinner" type="checkbox" value="1" checked="true"/>
                                                <div class="checkbox"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">夜宵</div>
                                        <div class="item-input">
                                            <label class="label-switch">
                                                <input name="supper" type="checkbox" value="1"/>
                                                <div class="checkbox"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="row">
                        <button class="col-100 button button-big button-fill button-success">提交</button>
                    </div>
                </form>

            </div>
            <div id="tab2" class="tab">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title" style="width:40%">日期</div>
                                <div class="item-after">午餐</div>
                                <div class="item-after">晚餐</div>
                                <div class="item-after">夜宵</div>

                            </div>
                        </li>
                        <li class="item-content" th:each="booking:${bookings}">
                            <div class="item-inner">
                                <div class="item-title" style="width:40%">
                                    <span th:text="${#dates.format(booking.orderDate, 'yyyy-MM-dd')}"></span>
                                </div>
                                <div class="item-after"><span th:text="${booking.lunch}"></span></div>
                                <div class="item-after"><span th:text="${booking.dinner}"></span></div>
                                <div class="item-after"><span th:text="${booking.supper}"></span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab3" class="tab">
                <div class="content-block-title"><span th:text="${tomorrow}"></span>统计情况</div>
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-f7"></i></div>
                            <div class="item-inner">
                                <div class="item-title">点餐人数</div>
                                <div class="item-after"><span th:text="${userCount}"/></div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-f7"></i></div>
                            <div class="item-inner">
                                <div class="item-title">午餐预定数量</div>
                                <div class="item-after"><span th:text="${lunchCount}"/></div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-f7"></i></div>
                            <div class="item-inner">
                                <div class="item-title">晚餐预定数量</div>
                                <div class="item-after"><span th:text="${dinnerCount}"/></div>
                            </div>
                        </li>

                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-f7"></i></div>
                            <div class="item-inner">
                                <div class="item-title">夜宵预定数量</div>
                                <div class="item-after"><span th:text="${supperCount}"/></div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="content-block-title"><span th:text="${tomorrow}"></span>具体名单</div>
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title" style="width:55%">姓名</div>
                                <div class="item-after">午餐</div>
                                <div class="item-after">晚餐</div>
                                <div class="item-after">夜宵</div>

                            </div>
                        </li>

                        <li class="item-content" th:each="booking:${tomorrowUser}">
                            <div class="item-inner">
                                <div class="item-title" style="width:55%">
                                    <span th:text="${booking.userName}"/>-<span th:text="${booking.department}"/>
                                </div>
                                <div class="item-after"><span th:text="${booking.lunch}"></span></div>
                                <div class="item-after"><span th:text="${booking.dinner}"></span></div>
                                <div class="item-after"><span th:text="${booking.supper}"></span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tab4" class="tab">
                <div class="card">
                    <form id="updateForm" action="/updateDo" method="post">
                        <div class="card-header">个人信息</div>
                        <div class="card-content">
                            <div class="list-block">
                                <ul>
                                    <!-- Text inputs -->
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">姓名</div>
                                                <div class="item-input">
                                                    <input id="userName" type="text" name="userName"
                                                           th:value="${userName}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">部门</div>
                                                <div class="item-input">
                                                    <input id="department" type="text" name="department"
                                                           th:value="${department}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>

                        <div class="card-footer">
                            <a href="#" class="link"></a>
                            <a href="#" class="link"
                               onclick="document.getElementById('updateForm').submit();return false">修改</a>
                        </div>
                    </form>

                </div>
                <div class="card">
                    <form id="suggestFrom" action="/suggestDo" method="post">
                        <div class="card-header">意见反馈</div>
                        <div class="card-content">
                            <div class="list-block">
                                <ul>
                                    <!-- Text inputs -->
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title label">TA</div>
                                                <div class="item-input">
                                                    <select name="object">
                                                        <option value="orderHelper">订餐助手</option>
                                                        <option value="kitchener">厨师</option>
                                                        <option value="administration">行政</option>
                                                        <option value="manager">总经理</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="align-top">
                                        <div class="item-content">
                                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                                            <div class="item-inner">
                                                <div class="item-input">
                                                    <textarea name="content" placeholder="说点什么"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>

                        <div class="card-footer">
                            <a href="#" class="link"></a>
                            <a href="#" class="link"
                               onclick="document.getElementById('suggestFrom').submit();return false">提交</a>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script>
    var days = ['日', '一', '二', '三', '四', '五', '六'];
    getDay();
    function getDay() {
        var date = document.getElementById('orderDate').value;
        var day = new Date(date).getDay();
        document.getElementById('show').innerText = "星期" + days[day];
    }
    function login_clk() {
        if (!window.localStorage) {
            alert("浏览器支持localstorage");
            return false;
        } else {
            var storage = window.localStorage;
            document.getElementById('userName').value = decodeURI(storage.userName);
            document.getElementById('department').textContent = decodeURI(storage.department);
        }
    }


</script>

</body>

</html>