<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>OneDream每日统计</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css"/>
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>

</head>
<body>
<div class="control-group">

    <table class="sui-table table-bordered">
        <thead>
        <tr>
            <th>日期</th>
            <th>午餐预定数量</th>
            <th>午餐签到数量</th>
            <th>晚餐预定数量</th>
            <th>晚餐签到数量</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking:${result}">
            <td><span th:text="${#dates.format(booking.date, 'yyyy-MM-dd')}"></span></td>
            <td><span th:text="${booking.lunchCount}"></span></td>
            <td><span th:text="${booking.signLunchCount}"></span></td>
            <td><span th:text="${booking.dinnerCount}"></span></td>
            <td><span th:text="${booking.signDinnerCount}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>