<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>OneDream订餐</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css"/>
</head>
<body>

<div class="page-group">
    <!-- 单个page ,第一个.page默认被展示-->
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
            <h1 class="title">天空之城名单(<span th:text="${what}"/>)</h1>
        </header>

        <!-- 这里是页面内容区 -->
        <div class="content">
            <span th:text="${text}"></span>
            <span th:text="${error}" style="color: red;"></span>

            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">待签到</a>
                <a href="#tab2" class="tab-link button">已签到</a>
                <a href="#tab3" class="tab-link button">全部</a>
            </div>

            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="list-block media-list inset">
                        <ul>
                            <li th:each="booking:${sign}">
                                <a th:href="@{/artist/signDo(userId=${booking.userId})}"
                                   class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title"><span th:text="${booking.name}"/>
                                                &nbsp;<span th:text="${booking.sex}"/></div>
                                        </div>
                                        <div class="item-subtitle"><span th:text="${booking.phone}"/></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="tab2" class="tab">
                    <div class="list-block media-list inset">
                        <ul>
                            <li th:each="booking:${signed}">
                                <a th:href="@{/artist/unSignDo(userId=${booking.userId})}"
                                   class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">
                                                <span th:text="${booking.name}"/>&nbsp;<span
                                                    th:text="${booking.sex}"/>
                                            </div>
                                        </div>
                                        <div class="item-subtitle"><span th:text="${booking.phone}"/></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="tab3" class="tab">
                    <div class="list-block media-list inset">
                        <ul>
                            <li th:each="booking:${all}">

                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">
                                                <span th:text="${booking.name}"/>&nbsp;<span
                                                    th:text="${booking.sex}"/>
                                            </div>
                                        </div>

                                        <div class="item-subtitle"><span th:text="${booking.phone}"/></div>

                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<form method="post" id="signForm">
    <input type="hidden" name="userId" id="userId"/>
</form>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script>
    $(document).on('click', 'a.item-link', function () {

        document.getElementById("signForm").action = this.pathname;

        var str = this.href.split("=");
        document.getElementById("userId").value = str[1];

        document.getElementById("signForm").submit();

        this.href = "javascript:void(0);";

    });
</script>

</body>

</html>